# IntelliJ things
.idea
*/target
*/build
*.iml

# Eclipse things
*/.classpath
*/.project
.DS_Store
*/.DS_Store

#Others
*.log
*.txt

#Config files
/servermail/src/main/java/com/projprogiii/servermail/server/config/server.properties
/clientmail/src/main/java/com/projprogiii/clientmail/model/client/config/user.properties
