
.server_log_view,
.log,
.log:cell-selection,
.log:selected,
.log:focused {
    -fx-background-color: black;
}

.normal_log {
    -fx-text-fill: white;
}

.sysop_log {
    -fx-text-fill: green;
}

.error_log {
    -fx-text-fill: red;
}