
.rounded-button {
    -fx-background-radius: 5em;
    -fx-min-width: 100px;
    -fx-min-height: 50px;
    -fx-max-width: 100px;
    -fx-max-height: 50px;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
    -fx-background-image: url('compose.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}

.refresh-button {
    -fx-background-radius: 5em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
    -fx-background-image: url('refresh.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

.web-view {
    -fx-border-color: lightgrey;
    -fx-border-width: 1px;
}

